{% extends 'layout.twig' %}

{% block body %}
    <div class="login100-form validate-form">
	<span class="login100-form-title p-b-26">
		Welcome to EOSconnect
	</span>
        <span class="p-b-26 login100-form-description">v0.6-Beta</span>
        <span class="login100-form-title p-b-48">
		<img src="/assets/img/eos_color.svg">
	</span>
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <a href="{{ login_url }}"
               class="btn-eosconnect login100-form-btn">
                <img style="width: 1.1em; margin-right: 1em;" src="/assets/img/eos_white.svg">
                Login with EOSconnect
            </a>
        </div>
    </div>
            <div class="text-center mt-2">
                <small>See source code on <br><a target="_blank" href="https://github.com/bostrot/eosconnect-web" id="sourceCode">GitHub</a></small>
            </div>
{% endblock %}